{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}Event Search {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Welcome {{ object.first_name | capfirst}} to Spoton!</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

	<h4>Get started by entering a link below:</h4>

	<form action="post" method=".">
		{% csrf_token %}
		{{ event_form.as_p }}
		{{ event_form.errors }}
		<input class="btn btn-default btn-large" name="event" type="submit" value="submit">
	</form>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
