{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Welcome {{ object.first_name | capfirst}} to Spoton!</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->     
<div class="row">

  <div class="col-sm-12 pull">
    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-info" href="{% url 'avatar_change' %}">Avatar</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

	<h4>Get started by entering a link below:</h4>

	<form action="post" action=".">
		{% csrf_token %}
		{{ event_form.as_p }}
	</form>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
